Environmemnts are down, please fix before you go for Tea 
All the Environmemnts are up & running, you may go for a coffee
<html>
<title>
A script to generate html report
</title>
<meta http-equiv=refresh content=5 />
<table border=4>
<tr>
<th>
Env Name
</th>
<th>
URL
</th>
<th>
Status
</th>
<th>
Verification Date
</th>
<th>
Verification Time
</th>
<th>
Release Num
</th>
<th>
ENV
</th>
</tr>
</table>
</body>
</html>
<body bgcolor=#E6E6FA>
</body>
