Environmemnts are down, please fix before you go for a coffee
<html>
<title>
A script to generate html report
</title>
<table border=4>
<tr>
<th>
Env Name
</th>
<th>
URL
</th>
<th>
Status
</th>
<th>
Verification Date
</th>
<th>
Verification Time
</th>
<th>
Release Num
</th>
</tr>
<tr>
<td>
iDEV11-YTBP(VIP)
</td>
<td>
<a href='http://ytb-idev11-vip.hhscie.txaccess.net/wps/portal'>http://ytb-idev11-vip.hhscie.txaccess.net/wps/portal</a>
</td>
<td>
<p style="color:#FF0000";>DOWN </p>
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-YTBP(Node1)
</td>
<td>
<a href='http://cwaa700:14539/wps/portal'>http://cwaa700:14539/wps/portal</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-YTBP(Node2)
</td>
<td>
<a href='http://cwaa701:14539/wps/portal'>http://cwaa701:14539/wps/portal</a>
</td>
<td>
<p style="color:#FF0000";>DOWN</p>
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-YTBSvc(VIP)
</td>
<td>
<a href='http://ytbsvc-idev11-vip.hhscie.txaccess.net/service/DTC/api/finanoffice/retreive'>http://ytbsvc-idev11-vip.hhscie.txaccess.net/service/DTC/api/finanoffice/retreive</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-YTBSvc(Node1)
</td>
<td>
<a href='http://cwaa702:10512/service/DTC/api/finanoffice/retreive'>http://cwaa702:10512/service/DTC/api/finanoffice/retreive</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-YTBSvc(Node2)
</td>
<td>
<a href='http://cwaa703:10512/service/DTC/api/finanoffice/retreive'>http://cwaa703:10512/service/DTC/api/finanoffice/retreive</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCP(VIP)
</td>
<td>
<a href='http://sdc-idev11-vip.hhscie.txaccess.net/wps/portal'>http://sdc-idev11-vip.hhscie.txaccess.net/wps/portal</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCP(Node1)
</td>
<td>
<a href='http://cwaa704:14539/wps/portal'>http://cwaa704:14539/wps/portal</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCP(Node2)
</td>
<td>
<a href='http://cwaa705:14539/wps/portal'>http://cwaa705:14539/wps/portal</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCSvc(VIP)
</td>
<td>
<a href='http://sdcsvc-idev11-vip.hhscie.txaccess.net/Service/LTSSClientInformationService'>http://sdcsvc-idev11-vip.hhscie.txaccess.net/Service/LTSSClientInformationService</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCSvc(Node1)
</td>
<td>
<a href='http://cwaa706:11512/Service/LTSSClientInformationService'>http://cwaa706:11512/Service/LTSSClientInformationService</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
<tr>
<td>
iDEV11-SDCSvc(Node2)
</td>
<td>
<a href='http://cwaa707:11512/Service/LTSSClientInformationService'>http://cwaa707:11512/Service/LTSSClientInformationService</a>
</td>
<td>
UP
</td>
<td>
2017-06-04
</td>
<td>
2017-06-04:20:42:28
</td>
<td>
R100.0.0.0
</td>
</tr>
</table>
</body>
</html>
<body bgcolor=#E6E6FA>
</body>
